## For Fastapi
fastapi>=0.115.12
uvicorn>=0.34.0
python-dotenv>=1.1.0
python-multipart>=0.0.5

## For chroma store and embedding model
langchain
langchain-community
chromadb
sentence-transformers
boto3
pymupdf
unstructured[md]
nltk
docx2txt
requests
numpy
tqdm